.footer {
  display: flex;
  justify-content: space-between;
  padding-inline: 1.5rem;
  padding-block: 1.5rem;
  color: var(--footer-color);

  p {
    font-size: 0.875rem;
  }
}

.actions {
  ul {
    display: flex;
    gap: 20px;
  }

  button {
    font-weight: 700;
    
  }
}
