*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
}

html {
  block-size: 100%;
  inline-size: 100%;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;

  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;

  font-family: "Josefin Sans", sans-serif;
  font-size: 1.125rem;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 540px;
}
