*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --gradient: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  --color: black;
  --bg: url("../../public/images/bg-desktop-light.jpg");
  --bg-color: #fafafa;
  --bg-list: white;
  --box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  --border-color: #e3e4f1;
  --footer-color: #9495a5;
  --input-color: #393a4b;
}

//retaining this to avoid flash of light on initial load

@media (prefers-color-scheme: dark) {
  :root {
    --color: #c8cbe7;
    --bg: url("../../public/images/bg-desktop-dark.jpg");
    --bg-color: black;
    --bg-list: #25273d;
    --box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
    --border-color: #393a4b;
    --footer-color: #5b5e7e;
    --input-color: #c8cbe7;
  }
}

html {
  block-size: 100%;
  inline-size: 100%;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;

  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;

  font-family: "Josefin Sans", sans-serif;
  font-size: 1.125rem;
  background-color: var(--bg-color);
  background-image: var(--bg);
  background-repeat: no-repeat;

  padding-top: 4.375rem;
  color: var(--color);

  &.dark {
    --color: #c8cbe7;
    --bg: url("../../public/images/bg-desktop-dark.jpg");
    --bg-color: black;
    --bg-list: #25273d;
    --box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
    --border-color: #393a4b;
    --footer-color: #5b5e7e;
    
    --input-color: #c8cbe7;
  }

  &.light {
    --color: black;
    --bg: url("../../public/images/bg-desktop-light.jpg");
    --bg-color: #fafafa;
    --bg-list: white;
    --box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
    --border-color: #e3e4f1;
    --footer-color: #9495a5;
    --input-color: #393a4b;
  }
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 0.875rem;
  font-family: inherit;

  color: var(--footer-color);
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

p,
h1 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 540px;
}
