*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --border-color: #E3E4F1;
  --gradient: linear-gradient( hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

html {
  block-size: 100%;
  inline-size: 100%;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;

  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;

  font-family: "Josefin Sans", sans-serif;
  font-size: 1.125rem;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

button{
  margin: 0;
  padding:0;
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: .875rem;
  font-family: inherit;
}

ul, li{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

p{
  margin: 0;
}

.container {
  width: 100%;
  max-width: 540px;
}
