.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;

  @include mobile {
    margin-bottom: 2.5rem;
  }

  h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 15px;
    color: white;

    @include mobile {
      font-size: 1.625rem;
    }
  }
}
