.main {
}

.todo-container {
  display: grid;
  gap: 1.5rem;

  @include mobile {
    gap: 1rem;
  }
}

.todo-input {
  input {
    inline-size: 100%;
    padding-block: 1.25rem;
    padding-inline: 1.5rem;

    letter-spacing: -0.25px;
    font-size: 1.125rem;
    line-height: 18px;

    border-radius: 5px;
    border: 0;
    box-shadow: var(--box-shadow);
    background-color: var(--bg-list);

    color: var(--input-color);

    @include mobile {
      font-size: 1rem;
      padding-block: 1.125rem;
      padding-inline: 1.25rem;
    }
  }
}

.todo-list-container {
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  background-color: var(--bg-list);
}

.todo-list-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-block: 1.25rem;
  padding-inline: 1.5rem;
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;

  @include mobile {
    padding-block: 1rem;
    padding-inline: 1.25rem;
    gap: 0.75rem;
  }

  .toggle {
    margin: 0;
    padding: 0;

    appearance: none;
    block-size: 1.5rem;
    inline-size: 1.5rem;
    border-radius: 100%;
    border: 1px solid var(--border-color);

    position: relative;

    @include mobile {
      block-size: 1.25rem;
      inline-size: 1.25rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      inline-size: 100%;
      block-size: 100%;
      border-radius: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      inline-size: 100%;
      block-size: 100%;
      border-radius: 100%;
    }

    &:checked {
      &::before {
        background: var(--gradient);
      }

      &::after {
        background: url("../../public/images/icon-check.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 0.7rem;
      }
    }
  }

  p {
    margin-right: auto;
    letter-spacing: -0.25px;
    font-weight: 400;
    margin-bottom: -0.25rem;

    @include mobile {
      letter-spacing: -0.17px;
    }
  }

  .destroy {
    inline-size: 18px;
    block-size: 18px;

    display: grid;
    place-content: center;

    overflow: hidden;
    cursor: pointer;

    visibility: hidden;

    @include mobile {
      visibility: visible;
      block-size: 16px;
      inline-size: 16px;
    }
  }

  &:hover {
    .destroy {
      visibility: visible;
    }
  }
}
